---
rhos_release: 17
cip_config:
  - set:
      namespace: registry-proxy.engineering.redhat.com/rh-osbs
      name_prefix: rhosp17-openstack-
      tag: latest
hostname: standalone
clouddomain: shiftstack

# The name of the cloud in *local* clouds.yaml. On the host it will always be
# called `standalone`.
local_cloudname: standalone

# The control plane IP address allocated to br-ctlplane
# You probably won't need to change this
control_plane_ip: 192.168.24.1

# The IP address of the public openstack endpoints
# By default we use the default IP of the host
public_api: "{{ network_info.public_ipv4.address }}"

# The `external` provider network
# This will be created only if external_fip_pool_start and external_fip_pool_end
# are manually defined.
# By default we assume it shares the same subnet as the default external IP,
# which is true in DSAL.
# N.B. (mdbooth): external_network is not used outside this file, and is not
# required if overriding.
external_netmask: "{{ network_info.public_ipv4.network }}/{{ network_info.public_ipv4.netmask }}"
external_cidr: "{{ external_netmask | ipaddr('net') }}"
external_gateway: "{{ network_info.public_ipv4.gateway }}"
# external_fip_pool_start
# external_fip_pool_end

# The `hostonly` provider network
# This will always be created. It creates a provider network which is local to
# the host, and not externally routable.
# The routable cidr of the hostonly network, even if we can't use all of it.
hostonly_cidr: 192.168.25.0/24
# The IP of the gateway used by the hostonly provider network, which must be
# within hostonly_cidr.
hostonly_gateway: "{{ hostonly_cidr | nthhost(1) }}"
# The range of allocatable FIPs within hostonly_cidr
hostonly_fip_pool_start: "{{ hostonly_cidr | nthhost(2) }}"
hostonly_fip_pool_end: "{{ hostonly_cidr | nthhost(-2) }}"

# Configuration used only by prepare_stack_testconfig, which is not run by
# default.
testconfig_private_cidr: 192.168.100.0/24
testconfig_public_key: ~/.ssh/id_rsa.pub

create_rhcos_image: true
cirros_url: http://download.cirros-cloud.net/0.5.1/cirros-0.5.1-x86_64-disk.img
rhcos_meta_url: https://raw.githubusercontent.com/openshift/installer/master/data/data/rhcos.json
# Define rhcos_url to override use of rhcos_meta_url

enabled_services:
  - /usr/share/openstack-tripleo-heat-templates/environments/services/octavia.yaml
standalone_role: /usr/share/openstack-tripleo-heat-templates/roles/Standalone.yaml

neutron_bridge_mappings: "external:br-ex,hostonly:br-hostonly"
neutron_flat_networks: "external,hostonly"

tripleo_repos_repos:
  - current-tripleo-dev
  - ceph
