---
- name: Read network info if present
  slurp:
    src: &networkinfo /home/stack/dev-install-network-info.yaml
  register: networkinfo_file
  ignore_errors: true

- name: Set network_info from file
  set_fact:
    network_info: "{{ networkinfo_file['content'] | b64decode | from_json }}"
  when: not networkinfo_file.failed

- name: Store network info before we change it
  block:
  - name: Gather host network info
    setup:
      gather_subset: "network"

  - name: Set ip with netmask facts
    set_fact:
      public_ipv4_full: "{{ ansible_facts.default_ipv4.address + '/' + ansible_facts.default_ipv4.netmask }}"

  - name: Set network_info from gathered facts
    set_fact:
      network_info:
        dns: "{{ ansible_facts.dns.nameservers }}"
        public_ipv4: "{{ ansible_facts.default_ipv4 }}"
        public_ipv6: "{{ ansible_facts.default_ipv6 }}"
        public_ipv4_cidr: "{{ public_ipv4_full | ipaddr('prefix') }}"

  - name: Write network_info to file
    copy:
      dest: *networkinfo
      content: "{{ network_info | to_nice_json }}"
      mode: 0755
  when: networkinfo_file.failed
