#vi:syntax=yaml
---
network_config:
- type: ovs_bridge
  name: br-ex
  use_dhcp: true
  ovs_extra:
  - br-set-external-id br-ex bridge-id br-ex
  members:
  - type: interface
    name: {{ network_info.public_ipv4.interface }}
    primary: true
- type: ovs_bridge
  name: br-ctlplane
  use_dhcp: false
  ovs_extra:
  - br-set-external-id br-ctlplane bridge-id br-ctlplane
  addresses:
  - ip_netmask: {{ control_plane_ip }}/32
  members:
  - type: interface
    name: dummy0
    nm_controlled: true
- type: ovs_bridge
  name: br-hostonly
  use_dhcp: false
  ovs_extra:
  - br-set-external-id br-hostonly bridge-id br-hostonly
  addresses:
  - ip_netmask: {{ hostonly_gateway }}/32
  routes:
  - destination: {{ hostonly_cidr }}
    nexthop: {{ hostonly_gateway }}
  members:
  - type: interface
    name: dummy1
    nm_controlled: true
