#vi:syntax=yaml
---
network_config:
- type: ovs_bridge
  name: br-ex
  use_dhcp: true
  mtu: {{ network_info.public_ipv4.mtu }}
  ovs_extra:
  - br-set-external-id br-ex bridge-id br-ex
  members:
  - type: interface
    name: {{ network_info.public_ipv4.interface }}
    primary: true
{% if network_config is defined %}
{{ network_config | to_nice_yaml }}
{% else %}
- type: ovs_bridge
  name: br-ctlplane
  use_dhcp: false
  ovs_extra:
  - br-set-external-id br-ctlplane bridge-id br-ctlplane
  addresses:
  - ip_netmask: {{ local_ip }}/{{ control_plane_prefix }}
  members:
  - type: interface
    name: dummy0
    nm_controlled: true
    mtu: {{ dcn_az is defined | ternary(1400, 1500) }}
{% for ip in tunnel_remote_ips %}
  - type: ovs_tunnel
    name: "tun-ctlplane-{{ ip | to_uuid }}"
    tunnel_type: vxlan
    ovs_options:
      - remote_ip={{ ip }}
      - key=100
{% endfor %}
- type: ovs_bridge
  name: br-hostonly
  use_dhcp: false
  ovs_extra:
  - br-set-external-id br-hostonly bridge-id br-hostonly
  addresses:
  - ip_netmask: {{ hostonly_gateway }}/32
  routes:
  - destination: {{ hostonly_cidr }}
    nexthop: {{ hostonly_gateway }}
  members:
{% for ip in tunnel_remote_ips %}
  - type: ovs_tunnel
    name: "tun-hostonly-{{ ip | to_uuid }}"
    tunnel_type: vxlan
    ovs_options:
      - remote_ip={{ ip }}
      - key=101
{% endfor %}
  - type: interface
    name: dummy1
    nm_controlled: true
    mtu: {{ dcn_az is defined | ternary(1400, 1500) }}
{% if sriov_interface is defined %}
- type: sriov_pf
  name: {{ sriov_interface }}
  numvfs: {{ sriov_nic_numvfs | mandatory }}
  mtu: 9000
  use_dhcp: false
  defroute: false
  nm_controlled: true
  hotplug: true
  promisc: false
  addresses:
  - ip_netmask: {{ hostonly_sriov_gateway }}/{{ hostonly_sriov_prefix }}
{% endif %}
{% endif %}
