#vi:syntax=yaml

parameter_defaults:
  CloudName: {{ hostname }}.{{ clouddomain }}
  Debug: true
  DeploymentUser: {{ ansible_env.USER }}
  DnsServers:
{% for nameserver in network_info.dns %}
    - {{ nameserver }}
{% endfor %}
  # needed for vip & pacemaker
  KernelIpNonLocalBind: 1
  DockerInsecureRegistryAddress:
    - {{ control_plane_ip }}:8787
  # domain name used by the host
  CloudDomain: {{ clouddomain }}
  NeutronDnsDomain: {{ clouddomain }}
  NeutronBridgeMappings: {{ neutron_bridge_mappings }}
  NeutronFlatNetworks: {{ neutron_flat_networks }}
  NeutronNetworkType: 'flat,vlan'
  NeutronNetworkVLANRanges: 'sriov:100:199'
  StandaloneEnableRoutedNetworks: false
  StandaloneHomeDir: "{{ ansible_env.HOME }}"
  InterfaceLocalMtu: 1500
  SELinuxMode: permissive
  # For OSP17+:
  StandaloneNetworkConfigTemplate: "{{ ansible_env.HOME }}/dev-install_net_config.yaml"
  # For OSP16:
  StandaloneNetConfigOverride:
    network_config:
{% for member in net_config_json['network_config'] %}
      - {{ member }}
{% endfor %}
  OctaviaGenerateCerts: true
  OctaviaCaKeyPassphrase: "secrete"
  OctaviaAmphoraSshKeyFile: "{{ ansible_env.HOME }}/octavia.pub"
  OctaviaAmphoraImageFilename: "{{ ansible_env.HOME }}/amphora.qcow2"

  NeutronPhysicalDevMappings: "{{ neutron_dev_physical_mappings }}"
  NovaReservedHostMemory: 4096

# The following kernelargs, need to be added to the host GRUB_CMDLINE_LINUX
# and the host needs to be rebooted and the values cheked.
#  #KernelArgs: "default_hugepagesz=1GB hugepagesz=1G hugepages=32 iommu=pt intel_iommu=on isolcpus=1-19,21-39"
#  Still don't hav TunedProfile working correctly
#  TunedProfileName: "cpu-partitioning"
# The PCI passthrough access address should be provided by user as variable
  NovaPCIPassthrough:
    - address: "0000:04:00.1"
      trusted: "true"
      physical_network: "sriov"
  NeutronEnableDVR: false
