#vi:syntax=yaml

  CephPoolDefaultPgNum: 8
  CephPoolDefaultSize: 1
  CephSpecFqdn: true

{% if ceph_devices is defined %}
  CephAnsibleDisksConfig:
    osd_scenario: lvm
    osd_objectstore: bluestore
    devices:
{% for device in ceph_devices %}
    - {{ device }}
{% endfor %}
{% else %}
  CephAnsibleDisksConfig:
    osd_scenario: lvm
    osd_objectstore: bluestore
    lvm_volumes:
      - data: data
        data_vg: vg_ceph
        db: db
        db_vg: vg_ceph
{% endif %}
  CephAnsibleExtraConfig:
    cluster_network: {{ control_plane_cidr }}
    public_network: {{ control_plane_cidr }}
{% if manila_enabled %}
    ceph_nfs_bind_addr: "{{ public_api }}"
{% endif %}
