[Unit]
Description=Setup {{ interface_name }} interface
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/standalone_create_if {{ interface_name }}
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
