#vi:syntax=yaml

{% if dcn_az is defined %}
resource_registry:
  OS::TripleO::Services::NovaAZConfig: /usr/share/openstack-tripleo-heat-templates/deployment/nova/nova-az-config.yaml
{% if dcn_az != 'central' %}
  OS::TripleO::Services::CinderVolume: /usr/share/openstack-tripleo-heat-templates/deployment/cinder/cinder-volume-container-puppet.yaml
  OS::TripleO::Services::Etcd: /usr/share/openstack-tripleo-heat-templates/deployment/etcd/etcd-container-puppet.yaml
  OS::TripleO::Services::CACerts: OS::Heat::None
  OS::TripleO::Services::CinderApi: OS::Heat::None
  OS::TripleO::Services::CinderScheduler: OS::Heat::None
  OS::TripleO::Services::Clustercheck: OS::Heat::None
  OS::TripleO::Services::GlanceApi: OS::Heat::None
  OS::TripleO::Services::HAproxy: OS::Heat::None
  OS::TripleO::Services::Horizon: OS::Heat::None
  OS::TripleO::Services::Keystone: OS::Heat::None
  OS::TripleO::Services::Memcached: OS::Heat::None
  OS::TripleO::Services::MySQL: OS::Heat::None
  OS::TripleO::Services::NeutronApi: OS::Heat::None
  OS::TripleO::Services::NeutronDhcpAgent: OS::Heat::None
  OS::TripleO::Services::NovaApi: OS::Heat::None
  OS::TripleO::Services::NovaConductor: OS::Heat::None
  OS::TripleO::Services::NovaConsoleauth: OS::Heat::None
  OS::TripleO::Services::NovaIronic: OS::Heat::None
  OS::TripleO::Services::NovaMetadata: OS::Heat::None
  OS::TripleO::Services::NovaPlacement: OS::Heat::None
  OS::TripleO::Services::NovaScheduler: OS::Heat::None
  OS::TripleO::Services::NovaVncProxy: OS::Heat::None
  OS::TripleO::Services::OVNDBs: OS::Heat::None
  OS::TripleO::Services::OsloMessagingNotify: OS::Heat::None
  OS::TripleO::Services::OsloMessagingRpc: OS::Heat::None
  OS::TripleO::Services::Pacemaker: OS::Heat::None
  OS::TripleO::Services::PlacementApi: OS::Heat::None
  OS::TripleO::Services::Pacemaker: OS::Heat::None
  OS::TripleO::Services::Redis: OS::Heat::None
  OS::TripleO::Services::SwiftProxy: OS::Heat::None
  OS::TripleO::Services::SwiftRingBuilder: OS::Heat::None
  OS::TripleO::Services::SwiftStorage: OS::Heat::None
{% endif %}
{% endif %}
parameter_defaults:
  CloudName: {{ hostname }}.{{ clouddomain }}
  ContainerCli: podman
  Debug: true
  DeploymentUser: {{ ansible_env.USER }}
  DnsServers:
{% for nameserver in network_info.dns %}
    - {{ nameserver }}
{% endfor %}
  # needed for vip & pacemaker
  KernelIpNonLocalBind: 1
  DockerInsecureRegistryAddress:
    - {{ control_plane_ip }}:8787
  # domain name used by the host
  CloudDomain: {{ clouddomain }}
  NeutronDnsDomain: {{ clouddomain }}
  NeutronBridgeMappings: {{ neutron_bridge_mappings }}
  NeutronFlatNetworks: {{ neutron_flat_networks }}
{% if sriov_interface is defined %}
  NeutronPhysicalDevMappings: "hostonly:{{ sriov_interface }}"
  NovaPCIPassthrough: {{sriov_nova_pci_passthrough | mandatory | to_json }}
{% endif %}
{% if kernel_args is defined %}
  KernelArgs: "{{ kernel_args }}"
{% endif %}
  StandaloneEnableRoutedNetworks: false
  StandaloneHomeDir: "{{ ansible_env.HOME }}"
  InterfaceLocalMtu: 1500
  SELinuxMode: permissive
  # For OSP17+:
  StandaloneNetworkConfigTemplate: "{{ ansible_env.HOME }}/dev-install_net_config.yaml"
  # For OSP16:
  StandaloneNetConfigOverride:
    network_config:
{% for member in net_config_json['network_config'] %}
      - {{ member }}
{% endfor %}
  OctaviaGenerateCerts: true
  OctaviaCaKeyPassphrase: "secrete"
  OctaviaAmphoraSshKeyFile: "{{ ansible_env.HOME }}/octavia.pub"
  OctaviaAmphoraImageFilename: "{{ ansible_env.HOME }}/amphora.qcow2"
  # We never want the node to reboot during tripleo deploy, but defer to later
  StandaloneExtraGroupVars:
    tripleo_kernel_defer_reboot: true
{% if ceph_enabled %}
{% if ceph_devices is defined %}
{% if ceph_ansible_enabled %}
  CephAnsibleDisksConfig:
    osd_scenario: lvm
    osd_objectstore: bluestore
    devices:
{% for device in ceph_devices %}
    - {{ device }}
{% endfor %}
{% else %}
  # Install Ceph OSD on non-rotational (SSD, NVME etc) to get
  # good enough performances for workloads like OpenShift (etcd, etc).
  CephOsdSpec:
    data_devices:
      rotational: 0
    db_devices:
      rotational: 0
{% endif %}
  NovaEnableRbdBackend: true
{% else %}
{% if ceph_ansible_enabled %}
  CephAnsibleDisksConfig:
    osd_scenario: lvm
    osd_objectstore: bluestore
    lvm_volumes:
      - data: data
        data_vg: vg_ceph
        db: db
        db_vg: vg_ceph
{% else %}
  CephOsdSpec:
    data_devices:
      paths:
        - /dev/vg_ceph/data
{% endif %}
  # Since we use a loop device for Ceph disk, performances wouldn't be great enough
  # to boot VMs with heavy workloads on it.
  # This can be overriden by setting:
  # extra_heat_params:
  #   NovaEnableRbdBackend: true
  # But to use at your own risks.
  NovaEnableRbdBackend: false
{% endif %}
{% if ceph_ansible_enabled %}
  CephAnsibleExtraConfig:
    cluster_network: {{ control_plane_cidr }}
    public_network: {{ control_plane_cidr }}
{% endif %}
  CephPoolDefaultPgNum: 8
  CephPoolDefaultSize: 1
  CephSpecFqdn: true
{% endif %}
{% if rhsm_enabled %}
  ContainerImageRegistryCredentials:
    registry.redhat.io:
      {{ redhat_registry_credentials | mandatory }}
  ContainerImageRegistryLogin: true
{% endif %}
{% if ssl_enabled %}
  AddVipsToEtcHosts: true
  HorizonSecureCookies: True
  SSLCertificate: |
    {{ ssl_cert | indent }}
  SSLKey: |
    {{ ssl_key | indent }}
  SSLRootCertificate: |
    {{ ssl_ca_cert | indent }}
  PublicTLSCAFile: {{ ssl_ca_cert_path }}
{% endif %}
{% if dcn_az is defined %}
{% if dcn_az == 'central' %}
  NovaSchedulerDiscoverHostsInCellsInterval: 120
  GlanceBackendID: central
  GlanceEnabledImportMethods: web-download,copy-image
  GlanceStoreDescription: 'central rbd glance store'
{% else %}
  # BZ#1901143 and BZ#1903005
  CephClusterName: {{ dcn_az }}
{% endif %}
  CinderStorageAvailabilityZone: {{ dcn_az }}
  NeutronDefaultAvailabilityZones: {{ dcn_az }}
  NovaComputeAvailabilityZone: {{ dcn_az }}
  NovaCrossAZAttach: false
  OVNCMSOptions: "enable-chassis-as-gw,availability-zones={{ dcn_az }}"
{% endif %}
{% if standalone_extra_config|length > 0 or dcn_az is defined %}
  StandaloneExtraConfig:
{% if dcn_az is defined %}
    nova::availability_zone::default_schedule_zone: {{ dcn_az }}
    oslo_messaging_notify_use_ssl: false
    oslo_messaging_rpc_use_ssl: false
{% endif %}
{% for key, value in standalone_extra_config.items() %}
    {{ key }}: {{ value }}
{% endfor %}
{% endif %}
{# note: keep this block at the very end #}
{% if extra_heat_params is defined %}
{% for key, value in extra_heat_params.items() %}
  {{ key }}: {{ value }}
{% endfor %}
{% endif %}
