#vi:syntax=yaml

{% if ceph_devices is defined %}
  # Install Ceph OSD on non-rotational (SSD, NVME etc) to get
  # good enough performances for workloads like OpenShift (etcd, etc).
  CephOsdSpec:
    data_devices:
      rotational: 0
    db_devices:
      rotational: 0
{% else %}
  CephOsdSpec:
    data_devices:
      paths:
        - /dev/vg_ceph/data
{% endif %}
