#!/bin/sh

# Generate a keypair for Octavia Amphora (needed by TripleO)
ssh-keygen -b 2048 -t rsa -f {{ stack_home }}/octavia -q -N ""

sudo openstack tripleo deploy \
    --templates \
    --local-ip={{ control_plane_ip }} \
    --control-virtual-ip {{ public_api }} \
  {% for service in enabled_services %}
    -e {{ service }} \
  {% endfor %}
    -e /usr/share/openstack-tripleo-heat-templates/environments/standalone/standalone-tripleo.yaml \
    -r {{ standalone_role }} \
    -e {{ stack_home }}/containers-prepare-parameters.yaml \
    -e {{ stack_home }}/standalone_parameters.yaml \
    --output-dir {{ stack_home }} \
    --keep-running \
    --standalone &>> {{ tripleo_deploy_logs }}
