---
- hosts: standalone
  become: true
  become_user: root
  gather_facts: false
  vars_files: vars/defaults.yaml
  roles:
  - network_info

  tasks:

  - name: Install ovs tools
    yum:
      state: installed
      name:
      - rhosp-openvswitch
      - NetworkManager-ovs
      - nmstate
    register: installovs

  - name: Restart NetworkManager to load ovs plugin
    systemd:
      name: "NetworkManager.service"
      enabled: true
      state: restarted
    when: installovs.changed

  - name: Start openvswitch
    systemd:
      name: openvswitch.service
      enabled: true
      state: started

  - name: Set nmstate
    command: nmstatectl set --no-commit --timeout 60
    args:
      stdin: "{{ network_state | to_nice_json }}"
    vars:
      network_state:
        interfaces:
        - name: dummy0
          type: dummy
          state: up
          ipv4:
            enabled: false
          ipv6:
            enabled: false
        - name: dummy1
          type: dummy
          state: up
          ipv4:
            enabled: false
          ipv6:
            enabled: false
    register: nmstateset

  # Doing this in 2 steps means that we'll automatically rollback if we break
  # networking such that ansible can no longer connect
  - name: Commit the new network state
    command: nmstatectl commit "{{ checkpoint }}"
    vars:
      checkpoint: "{{ (nmstateset.stdout_lines|last).split()[1] }}"

  - name: Create systemd unit to add SNAT rule for hostonly network
    template:
      src: "standalone_snat.service.j2"
      dest: "/etc/systemd/system/standalone_hostonly_snat.service"
      owner: root
      group: root
      mode: '0644'
    vars:
      cidr: "{{ hostonly_cidr }}"
      exit_ip: "{{ network_info.public_ipv4.address }}"

  - name: Activate systemd units
    systemd:
      name: "{{ item }}.service"
      enabled: true
      state: started
      daemon_reload: true
    loop:
    - standalone_hostonly_snat
