name: Ansible Lint
on:
  pull_request:
    paths:
    - playbooks/**.yaml
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checks-out the repository under $GITHUB_WORKSPACE
      uses: actions/checkout@v4
    - name: run ansible-lint
      uses: ansible-actions/ansible-lint-action@v1.1.0
      with:
        target: playbooks/
