name: Ansible Lint
on:
  pull_request:
    paths:
      - playbooks/**.yaml
jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checks-out the repository under $GITHUB_WORKSPACE
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install ansible-lint
        run: python3 -m pip install ansible-dev-tools --user

      - name: Install dependency
        run: ansible-galaxy collection install -r requirements.yaml

      - name: Run lint
        run: ansible-lint playbooks/**
